<div class="dashboard-container">
  <div class="sidebar">
    <div class="sidebar-header">
      <h1 class="sidebar-title">Gerenciamento de Estoque</h1>
    </div>
    <nav class="nav-menu">
      <a (click)="irParaInserir()" class="nav-item" routerLinkActive="active">
        Inserir Produto
      </a>
      <a (click)="irParaConsultar()" class="nav-item" routerLinkActive="active">
        Visualizar Estoque
      </a>
      <a (click)="irParaEditar()" class="nav-item" routerLinkActive="active">
        Editar Produto
      </a>
      <a (click)="irParaRemover()" class="nav-item" routerLinkActive="active">
        Remover Produto
      </a>
      <a (click)="irParaHistorico()" class="nav-item" routerLinkActive="active">
        Consultar Movimentações
      </a>
      <a (click)="sair()" class="nav-item">
        Sair
      </a>
    </nav>
  </div>
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>